*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fbf0db;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: flex-end;
    margin: 40px 0;
    padding: 0 15px;
}

nav a {
    text-decoration: none;
    color: #222;
    font-family: Open Sans, sans-serif;
}
nav a:nth-child(1) {
    margin-right: auto;
    font-size: 25px;
    font-family: raleway, sans-serif;
    font-weight: 700;
    text-decoration: underline;
}
nav a:not(:nth-child(1)) {
    font-size: 18px;
    margin: 0 15px;
}

.home {
    max-width: 1000px;
    height: 200px;
    margin-left: auto;
    position: relative;
}

.home h1 {
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: absolute;
    bottom: -80px;
    left: -200px;
    font-size: 50px;
    padding: 50px;
}